
@{
    ViewData["Title"] = "Sample";
}

<div style="font-size: 30px;">
    <h1>Sample page ay!</h1>

    <h2 class="ex1">This is our first sample app!</h2>

    <i class="fa-solid fa-bug"></i>
</div>

